@import url('https://fonts.cdnfonts.com/css/circular-std');

@font-face {
  font-family: 'Circular Std';
  src: local("CircularStd-Medium"), local("Circular-Std-Black"),
    url("../public/fonts/CircularStd/CircularStd-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-style: normal;
}

/* @font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), local("Circular-Std-Black"),
    url("../public/fonts/CircularStd/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
} */


body {
  margin: 0;
  font-family: 'Circular Std', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}